<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    
    @RenderSection("scripts", required: false)
</body>
</html>
